
@{
    ViewBag.Title = "Accounts";
}

<div class="card">
    <div class="card-header" data-background-color="blue">
        <h4 class="title">Accounts List</h4>
        <p class="category">Manage accounts used for logging into this system.</p>
    </div>
    <div class="card-content">

    </div>
</div>