@{
    var churchInfo = this.ViewBag.ChurchInfo as ChurchViewModel;
}

<div class="sidebar" data-color="purple">
    <div class="logo">
        <a routerLink="/" routerLinkActive="active" class="simple-text">
            @churchInfo.Name
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul id="lnk-navigation" class="nav">
            <li>
                <a routerLink="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a routerLink="/Account">
                    <i class="material-icons">account_box</i>
                    <p>Accounts</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar-background" style="background-image: url(/Images/background.jpeg)"></div>
</div>